main{
    width: 100%;
    font-family: sans-serif;
}
.accordian{
    width:80%;
}
.section,.btn{
    width:100%;
}
.btn{
    height:50px;
    border:none;
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size: 20px;
    padding:20px;
}
.hide{
    display:none;
}
.btn:hover{
    background-color: gray;
}
.show{
    display: block;
}
.color-gray{
    background-color: gray;
}